<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <p>
        The door is currently: {{ doorStatus }}
        </p>

        <div style="display: block;">
            <garage 
             door-status="doorStatus"
             openDoor="{{openDoor}}">
            </garage> 
        </div>
        <button class="button button-block button-positive"
                ng-click="openOrCloseDoor()"
                ng-enabled="allowedToOpenOrClose">
            Tap to Open or Close
        </button>
    </ion-content>
</ion-view>
